/* MAIN BODY */

main {
  border-bottom: 0.1rem black solid;
  margin-top: 2.5em;
}

main .mainContainer {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

main article header {
  margin-bottom: 1em;
}

.planningIntro {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.planningIntroLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  margin-right: 2.5%;
}

.planningIntroLeft p {
  margin-bottom: 1em;
}

.planningIntroRight {
  width: 40%;
}

.planningIntroRight figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.planningIntroRight img {
  width: 85%;
}

section h3,  section p {
  margin-bottom: 1em;
}

section {
  margin-top: 3em;
}

section p span {
  font-style: italic;
}

section a {
  text-decoration: underline;
}

section ul {
  list-style: square;
  margin-bottom: 1em;
}

section ul li {
  margin-left: 1.1em;
}

section figure {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}

section figure img {
  width: 50%;
}

section h4 {
  margin-bottom: 1em;
  text-decoration: underline;
}

.preHikeGearTips {
  list-style: none;
}

.preHikeGearTips li {
  margin-left: 0em;
  margin-bottom: 1em;
}